@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800&family=Space+Grotesk:wght@400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

.logo {
  font-family: 'Orbitron', sans-serif;
  font-style: 'Orbitron', sans-serif;
}

.side {
  font-family: 'Space Mono', monospace;
}

.grotesk {
  font-family: 'Space Grotesk', monospace;
}

.orbitron {
  font-family: 'Orbitron', monospace;
}

.linear_col {
  background: linear-gradient(93deg, #0E1A87 0%, #217E36 14.94%, #69B54B 29.68%, #ACC54B 47.66%, #549F9A 62.33%, #876A60 82.95%, #D04455 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}